:root {
    --gray: #50514f;
    --red: #f25f5c;
    --yellow: #ffe066;
    --blue: #247ba0;
    --green: #70c1b3;
    --white: blanchedalmond;
}
body {
    background-color: var(--gray);
    font-family:Arial, Helvetica, sans-serif
}
.content {
    background-color: var(--blue);
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.titleBlock {
    background-color: var(--red);
    font-size: 3rem;
    color: var(--white);
    padding: 1%;
    margin: 1% 0;
    border: 3px solid var(--white);
}
.avatar {
    display: flex;
    margin: 5%;
    justify-content: center;
}

.avatar h1 {
    font-size: 2rem;
    margin-bottom: 3%;
}
.avatar h2 {
    font-size: 2rem;
}
.avatar img {
    border: 3px solid var(--white);
    height: 300px;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.navBar ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
.navBar a {
    text-decoration: none;
    color: var(--white);
    font-size: 3rem;

}
.about {
    width: 100%;
    border: 1px solid var(--yellow);
}

.aboutContent {
    display: flex;
    justify-content: center;
}
.aboutLeft {
    width: 50%;
}
.aboutRight {
    width: 50%;
    text-align: center;

}
.aboutContent p {
    font-size: 1.2rem;
    padding: 3%;
}
.aboutContent img {
    width: 50%;
    border: 3px solid var(--white);

}

.projectCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projectCards a {
    width: 25%;
    text-decoration: none;
    color: var(--white);
    margin: 2% 5%;
}
.projectCard h3 {
    padding: 2%;
}
.projectCard {
    border: 3px solid var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #70c1b3;
}
.projectCard:hover {
    transform: scale(2);
}
.projectCard img {
    width: 100%;
}
.contactInfo {
    font-size: 2rem;
    margin: 0 auto;
    color: var(--white);
    padding: 1%;
    text-align: center;
}
.contactInfo h3 {
    font-size: 1.5rem;
    margin-bottom: 3%;
}
.contactInfo a {
    font-size: 5rem;
    text-decoration: none;
    color: var(--white);
    margin-bottom: 1%;
}
.contactInfo a img {
    height: 60px;
}
@media screen and (max-width: 576) {
    .body {
        background-color: white;
    }
}